backend:
  name: github
  repo: privatemonkey/tillganglig-visualisering
  branch: master # Branch to update (optional; defaults to master)

publish_mode: editorial_workflow # Allows you to save drafts before publishing them
media_folder: static/images # Media files will be stored in the repo under static/images
public_folder: / # The src attribute for uploaded media will begin with /

collections:
  - name: "pages"
    label: "Sidor"
    folder: "content/pages"
    create: true
    fields:
      - { label: "Titel", name: "title", widget: "string" }
      - { label: "Innehåll", name: "body", widget: "markdown" }
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "content/posts" # The path to the folder where our blog posts are stored
    create: true # Allow users to create new documents in this collection
    fields: # The fields for each document
      - { label: "Titel", name: "title", widget: "string" }
      - { label: "Datum", name: "date", widget: "datetime", dateFormat: "YYYY-MM-DD" }
      - { label: "Publiserad", name: "published", widget: "boolean" }
      - { label: "Innehåll", name: "body", widget: "markdown" }
